## tuple
- tuple is immtable
- tuple is indexed , ordered and allows duplicate elements
- tuple is faster than list
- hetergenous elements can be stored in a tuple
tuple() function can be used to convert sequence to tuple
- represented by ()

In [2]:
x = (1,2,3,"Khan")
print(x , type(x))

(1, 2, 3, 'Khan') <class 'tuple'>

In [3]:
y = "hello", "world","of","tuple"
print(y, type(y))

('hello', 'world', 'of', 'tuple') <class 'tuple'>

In [4]:
a,b,c,d=y
print(y)

('hello', 'world', 'of', 'tuple')

In [5]:
for i in y:
    print(i)

hello
world
of
tuple

In [6]:
y[:2]

('hello', 'world')

In [7]:
y.count("ll")

0

In [8]:
x = (1,1,1,2,2,2,2,2,4,4,3,4)
print(x.count(2))

5

In [9]:
x = (1,2,3,4,5,6,7,8,9,8,7,6,5,4,3)
avg = 0
avg = sum(x)/len(x)
print(avg)

5.2

set
- unordered
- unindexed
- no duplicate elements
- mutable
- can only store immtable elements
- set() function can be used to convert sequence to set
- represented by {}

In [10]:
x = {1,2,3,4,5,6,7,8,9,10}
print(x)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [11]:
x = set("Alabama")
print(x)

{'m', 'l', 'b', 'a', 'A'}

In [12]:
a = {12,1,1,45,4,5,21,45,77,99,0,8,0,43,43,3}
print(a)

{0, 1, 99, 4, 5, 3, 8, 43, 12, 45, 77, 21}

In [13]:
for i in a:
    print(i)

0
1
99
4
5
3
8
43
12
45
77
21

In [14]:
sum(a)

318

In [15]:
x = {1,2,3,4}
y = {3,4,5,6}
z = {1,2,7,8}

In [16]:
x.union(y)

{1, 2, 3, 4, 5, 6}

In [17]:
x.intersection(y)

{3, 4}

In [18]:
x.difference(y)

{1, 2}

In [19]:
x > y

False

In [20]:
x > {1,2,3}

True

In [21]:
x.issubset(y)

False

In [22]:
x ^ y

{1, 2, 5, 6}

In [23]:
x.add(12)
x

{1, 2, 3, 4, 12}

In [24]:
x.update([12,13,14,15,5])
x

{1, 2, 3, 4, 5, 12, 13, 14, 15}

In [27]:
x.discard(12)
x

{2, 3, 4, 5, 13, 14, 15}

In [26]:
x.pop()

1