## tuple
- tuple is immtable
- tuple is indexed , ordered and allows duplicate elements
- tuple is faster than list
- hetergenous elements can be stored in a tuple
tuple() function can be used to convert sequence to tuple
- represented by ()

In [31]:
x = (1,2,3,"Khan")
print(x , type(x))

(1, 2, 3, 'Khan') <class 'tuple'>

In [32]:
y = "hello", "world","of","tuple"
print(y, type(y))

('hello', 'world', 'of', 'tuple') <class 'tuple'>

In [33]:
a,b,c,d=y
print(y)

('hello', 'world', 'of', 'tuple')

In [34]:
for i in y:
    print(i)

hello
world
of
tuple

In [35]:
y[:2]

('hello', 'world')

In [36]:
y.count("ll")

0

In [37]:
x = (1,1,1,2,2,2,2,2,4,4,3,4)
print(x.count(2))

5

In [38]:
x = (1,2,3,4,5,6,7,8,9,8,7,6,5,4,3)
avg = 0
avg = sum(x)/len(x)
print(avg)

5.2

set
- unordered
- unindexed
- no duplicate elements
- mutable
- can only store immtable elements
- set() function can be used to convert sequence to set
- represented by {}

In [39]:
x = {1,2,3,4,5,6,7,8,9,10}
print(x)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [40]:
x = set("Alabama")
print(x)

{'A', 'b', 'm', 'l', 'a'}

In [41]:
a = {12,1,1,45,4,5,21,45,77,99,0,8,0,43,43,3}
print(a)

{0, 1, 99, 4, 5, 3, 8, 43, 12, 45, 77, 21}

In [42]:
for i in a:
    print(i)

0
1
99
4
5
3
8
43
12
45
77
21

In [43]:
sum(a)

318

In [44]:
x = {1,2,3,4}
y = {3,4,5,6}
z = {1,2,7,8}

In [45]:
x.union(y)

{1, 2, 3, 4, 5, 6}

In [46]:
x.intersection(y)

{3, 4}

In [47]:
x.difference(y)

{1, 2}

In [48]:
x > y

False

In [49]:
x > {1,2,3}

True

In [50]:
x.issubset(y)

False

In [51]:
x ^ y

{1, 2, 5, 6}

In [52]:
x.add(12)
x

{1, 2, 3, 4, 12}

In [53]:
x.update([12,13,14,15,5])
x

{1, 2, 3, 4, 5, 12, 13, 14, 15}

In [54]:
x.discard(12)

In [55]:
x.pop()

1