## data structures
-string

list 
  - ordered, indexed, mutable, allows duplicate elements
  - heterogenous(mixed type of values can be stored)
  - can be nested
  - list() is used for creating a list from other sequences
  - represented by [ ]

In [1]:
x = []
y = list()
print(x,y)
print(type(x),type(x))

[] []
<class 'list'> <class 'list'>

In [2]:
x = [1,2,3,4,5]
names = ['ajay','vijay','sanjay']
print(x,names)

[1, 2, 3, 4, 5] ['ajay', 'vijay', 'sanjay']

In [3]:
mixed = ['Apple',100, 'Banana',40, 'Orange',50]
print(mixed)

['Apple', 100, 'Banana', 40, 'Orange', 50]

In [4]:
ones = [1] * 10 # duplicates 1 10 times and store in list
print(ones)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [5]:
word = 'Homosapiens'
chrs = list(word)
print(chrs)

['H', 'o', 'm', 'o', 's', 'a', 'p', 'i', 'e', 'n', 's']

In [6]:
for i in x:
    print(i)

1
2
3
4
5

In [8]:
books = ['book1','book2','book3']
books[0] = 'steelheart'
books

['steelheart', 'book2', 'book3']

In [9]:
books[1] = "The Final Empire"
books[2] = "The way of kings"
print(books)

['steelheart', 'The Final Empire', 'The way of kings']

- list_var.append(single_element)
- list_var.remove(single_element)

In [10]:
books.append("The hero of Ages")
print(books)

['steelheart', 'The Final Empire', 'The way of kings', 'The hero of Ages']

In [11]:
books.remove("The hero of Ages")
print(books)

['steelheart', 'The Final Empire', 'The way of kings']

In [12]:
movies = ['Tiger','DDLJ','Anaconda','The Game','Avatar','Aarzoo','Pirahna','Avanger','Spiderman','batman','The Ant Man','Narnia','The Hero','pathan','Raees']
print(movies)

['Tiger', 'DDLJ', 'Anaconda', 'The Game', 'Avatar', 'Aarzoo', 'Pirahna', 'Avanger', 'Spiderman', 'batman', 'The Ant Man', 'Narnia', 'The Hero', 'pathan', 'Raees']

In [13]:
type(movies)

list

In [14]:
movies[:3]

['Tiger', 'DDLJ', 'Anaconda']

In [17]:
movies[:11]

['Tiger',
 'DDLJ',
 'Anaconda',
 'The Game',
 'Avatar',
 'Aarzoo',
 'Pirahna',
 'Avanger',
 'Spiderman',
 'batman',
 'The Ant Man']

In [15]:
books = []
for i in range(5):
    books.append(input())
print(books)

['400 days', 'The emperor', 'The game ', 'narnia ', 'legion']

In [18]:
movies[:-5]

['Tiger',
 'DDLJ',
 'Anaconda',
 'The Game',
 'Avatar',
 'Aarzoo',
 'Pirahna',
 'Avanger',
 'Spiderman',
 'batman']

In [19]:
movies[5:-5] # start at idx 5 and stop at idx -5

['Aarzoo', 'Pirahna', 'Avanger', 'Spiderman', 'batman']

In [20]:
movies[::-1] # reverse the list

['Raees',
 'pathan',
 'The Hero',
 'Narnia',
 'The Ant Man',
 'batman',
 'Spiderman',
 'Avanger',
 'Pirahna',
 'Aarzoo',
 'Avatar',
 'The Game',
 'Anaconda',
 'DDLJ',
 'Tiger']

In [21]:
print(movies[::2]) # every 2nd element

['Tiger', 'Anaconda', 'Avatar', 'Pirahna', 'Spiderman', 'The Ant Man', 'The Hero', 'Raees']

methods - 11
- adding
    -append()
    -insert()
    -extend()
- remove
    - remove()
    - pop()
    - clear()
- utility
    - index()
    - count()
    - sort()
    - reverse()
    - copy()

In [27]:
x=[1,2]
x.append(3)
print(x)

[1, 2, 3]

In [28]:
x.insert(1,1.5)
print(x)

[1, 1.5, 2, 3]

In [29]:
x.insert(3,2.5)
print(x)

[1, 1.5, 2, 2.5, 3]

In [30]:
x.insert(3,100)
print(x)

[1, 1.5, 2, 100, 2.5, 3]

In [31]:
a=[1,2,3]
b=[4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [32]:
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6]

wap to calculate the sum of all the elements in the list

In [33]:
total = 0
lst1 = [3,5,7,9]
for i in range(len(lst1)):
    total = total + lst1[i]
print(total)

24

wap to find the largest number in the list

In [44]:
lst1 = []
lst2 = int(input("enter the numbers: "))
for i in range (lst2 + 1):
    a = int(input("enter elements: "))
    lst1.append(a)
    
    print(max(lst1))

20
60
60
60

In [50]:
num = [3,5,7,9,10,2]
num.sort()
print((num[-2]))

9